<!DOCTYPE html>
<html>
<head>
  <title>Users and Interests</title>
</head>
<body>

  <%= yield %>

<p><em>There are <%= @user_names.count %> users with a total of <%= count_interests %> interests</em></p>

</body>
</html>